In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [4]:
# from sklearn.datasets import load_iris
# iris = load_iris()
# X, y = iris.data, iris.target

In [5]:
from sklearn.preprocessing import LabelEncoder

# # Assuming 'species' is a column in your dataset
# # Let's say you have a DataFrame called 'df'
# # df['species'] contains the species labels

# # Initialize the LabelEncoder
label_encoder = LabelEncoder()

# # Fit and transform the 'species' column
df['species_encoded'] = label_encoder.fit_transform(df['Species'])

In [6]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,species_encoded
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,2
146,147,6.3,2.5,5.0,1.9,Iris-virginica,2
147,148,6.5,3.0,5.2,2.0,Iris-virginica,2
148,149,6.2,3.4,5.4,2.3,Iris-virginica,2
149,150,5.9,3.0,5.1,1.8,Iris-virginica,2

In [7]:
df = df.drop('Id', axis=1)

In [8]:
df = df.drop('Species', axis=1)

In [9]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  species_encoded
0              5.1           3.5            1.4           0.2                0
1              4.9           3.0            1.4           0.2                0
2              4.7           3.2            1.3           0.2                0
3              4.6           3.1            1.5           0.2                0
4              5.0           3.6            1.4           0.2                0
..             ...           ...            ...           ...              ...
145            6.7           3.0            5.2           2.3                2
146            6.3           2.5            5.0           1.9                2
147            6.5           3.0            5.2           2.0                2
148            6.2           3.4            5.4           2.3                2
149            5.9           3.0            5.1           1.8                2

[150 rows x 5 columns]

In [10]:
# X = df.drop('Species', axis=1)
# y = df['Species']
X = df.drop('species_encoded', axis=1)
y = df['species_encoded']

In [11]:
 from sklearn.model_selection import train_test_split
    #Split Data for Training and Testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [12]:
#pip install scikit-learn xgboost

In [13]:
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [14]:
#4: Apply Different Ensemble Models
# a. AdaBoost Classifier
ada_classifier = AdaBoostClassifier(n_estimators=2)
ada_classifier.fit(X_train, y_train)
y_ada_pred = ada_classifier.predict(X_test)


# b. Gradient Boosting (GBM) Classifier
gbm_classifier = GradientBoostingClassifier(n_estimators=1)
gbm_classifier.fit(X_train, y_train)
y_gbm_pred = gbm_classifier.predict(X_test)


# c. XGBoost Classifier
xgb_classifier = XGBClassifier(n_estimators=1)
xgb_classifier.fit(X_train, y_train)
y_xgb_pred = xgb_classifier.predict(X_test)

In [15]:
# Step 5: Compare Model Performances
def evaluate_model(y_true, y_pred, model_name):
    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred, average='weighted')
    recall = recall_score(y_true, y_pred, average='weighted')
    f1 = f1_score(y_true, y_pred, average='weighted')
    
    print(f"Evaluation for {model_name}:")
    print(f"Accuracy: {accuracy:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}\n")



evaluate_model(y_test, y_ada_pred, "AdaBoost Classifier")
evaluate_model(y_test, y_gbm_pred, "Gradient Boosting Classifier")
evaluate_model(y_test, y_xgb_pred, "XGBoost Classifier")

Evaluation for Gradient Boosting Classifier:
Accuracy: 0.9778
Precision: 0.9795
Recall: 0.9778
F1 Score: 0.9779

Evaluation for AdaBoost Classifier:
Accuracy: 0.9333
Precision: 0.9334
Recall: 0.9333
F1 Score: 0.9327

Evaluation for XGBoost Classifier:
Accuracy: 0.9778
Precision: 0.9795
Recall: 0.9778
F1 Score: 0.9779